Add HTTPDelete operator

Some REST APIs require use of the HTTP DELETE operator. For example, [deleting an HDFS file or directory](https://hadoop.apache.org/docs/r1.0.4/webhdfs.html#DELETE) requires an HTTP DELETE request.

I imagine this operator would have an input port rstring which indicates the resource to delete (as a URI), as well as an optional output port which would carry an HTTPResponse object.

However, this operator will differ from HTTPPost because the resource to delete should be indicated entirely by the request-URI. This means that the input port rstring gives the URI rather than the message body.

In fact, DELETE requests might fail from including message bodies.

From [RFC 7231, Section 4.2.2](http://tools.ietf.org/html/rfc7231#section-4.2.2)
```
A payload within a DELETE request message has no defined semantics;
sending a payload body on a DELETE request might cause some existing
implementations to reject the request.
```

As an alternative, would an httpDelete native function work as well?  Such a function could be invoked from a Functor or a Custom if an operator is needed.  

Bear with me - I'm not very familiar with native functions. Let me know if these assertions are correct:

1. The native function would take 2 tuple parameters: an input URI parameter, and the output mutable parameter in which to put the response of the REST call. 
2. The native function would execute the REST call using the given URI and populate the output parameter tuple with the HTTP response of the REST call.
3. The Functor/Custom would take a URI as an input tuple, create a new HTTP response tuple, pass both tuples to the native function, and submit the HTTP response tuple on its output port.
4. The Functor/Custom can have parameters that are passed to the native function (e.g. extraHeaders, acceptAllCertificates, authentication information)

My only issue with this strategy is consistency - inet toolkit already has many http operators and it might not be obvious that http delete would be any different.

Is ease of development the main benefit to this strategy?

It would probably need more parameters than two.  Probably it'd look like
`rstring httpDelete(rstring url, list<rstring> extraHeaders, rstring username, rstring password)`
Note that I've already written  `httpPut`, `httpGet`, and `httpPost` as part of issue #161.  

You could define a delete operator as follows:

````
composite HTTPDelete(input Instream; output DeleteReply)  {
    param
    // these two are optional
    expression<rstring> $username: "";  
    expression<rstring> $password: "";
    // this is required
    expression<rstring> $url;
    graph
    stream<rstring deleteReply> DeleteResults = Functor(InStream) {
       output DeleteReply: 
           deleteReply = httpDelete($url,$usename,$password);
}
}
````

and then use it like:
````
stream<rstring deleteReply> DeleteMessage = HTTPDelete(InStream) {
   param 
      url: "http://blah.de.blahblah/"+InStream.itemToDelete;
}
````
Native functions are generally more flexible than operators, since you can use native functions to build composite operators, but not the other way around.

That seems reasonable to me. One question - if we ever need to change the number or type of parameters the native function takes, wouldn't we break all existing code that uses it?

I don't believe there is a way to add optional parameters after the fact.  If your input types are different, you can could a prototype for the same function name with different types.  If the input types don't change (and you want to return a rstring instead a blob, or vice-versa), then you'd have to have a different function names. 

Behind the scenes, in the C++ file, you can share code between similar function invocations.

If what you're getting at is that operators are better, I'd agree that there are cases where an operator is a better solution than a native function.


I think native functions are a good solution to increasing flexibility of http functionality, and would definitely be adequate for implementing HTTP Delete. Just trying to understand the pros and cons of each. It seems like good idea though.

I added a httpDelete as part of #161.